%h1 Which more popular is? Twitter judging! Fight!

.section
  - form_tag '/', :method => :get do
    %fieldset.fighters
      %legend Tweeple Fight
      .float_left 
        - labeled_field @fight, :topic_a
      .float_left{ :style => 'margin-left: 90px'}
        .buttons
          - submit_button 'Fight!', :class => 'positive'
      .right
        - labeled_field @fight, :topic_b

%hr/

.results
  %p.description.quiet
    Using the <a href="http://infochimps.com/apis">Infochimps API</a>, we
    searched 100 million+ twitter profiles to find which is more popular,
    == &ldquo;#{@fight.topic_a}&rdquo; or &ldquo;#{@fight.topic_b}&rdquo;
    
  - if @fight && @fight.success?
    .total.total_a
      %span.res_color= @fight.topic_a
    .total.total_b
      %span.res_color= @fight.topic_b

    .total.total_a.bieber_meter
      .meter{ :style => "width:#{ 400 * [@fight.bieberosity[0]/100, 0].max }px" }
        %img{ :src => '/images/bieber-440.png', :alt => "#{@fight.bieberosity[0].round(1)} bieberosity", :title => "#{@fight.bieberosity[0].round(1)} bieberosity" }
    .total.total_b.bieber_meter
      .meter{ :style => "width:#{ 400 * [@fight.bieberosity[1]/100, 0].max }px" }
        %img{ :src => '/images/bieber-440.png', :alt => "#{@fight.bieberosity[1].round(1)} bieberosity", :title => "#{@fight.bieberosity[1].round(1)} bieberosity" }

    
    .total.total_a
      %span.res_color= @fight.number_hits[0]
      hits
    .total.total_b
      %span.res_color= @fight.number_hits[1]
      hits

    .total.total_a
      %span.res_color= @fight.micro_biebers[0]
      µBb
    .total.total_b
      %span.res_color= @fight.micro_biebers[1]
      µBb

    .winner{ :class => (['total_a', 'total_b'][@fight.winner_idx]) }
      %span.res_color= @fight.winner
      won!

    .users
      #users_a
        %p.clear== #{['Thanks', 'No thanks'][@fight.winner_idx]} to users like:
        - @fight.users[0].each do |user|
          -# twitter_profile_image(user)
          == @#{user['screen_name']}
      #users_b
        %p.clear== #{['And no thanks', 'But thanks'][@fight.winner_idx]} to users like:
        - @fight.users[1].each do |user|
          -# twitter_profile_image(user)
          == @#{user['screen_name']}
      
  - elsif @fight.empty?
    &nbsp;
  - else
    .middle_float.warning
      yikes! too much fighting, try again in a bit
    

      
%p.quiet.middle_float#micro_biebers
  µBb (microBiebers) &mdash; Each microBieber corresponds to one-millionth the popularity of Justin Bieber in user profiles. For example, about 10,000 users mention &ldquo;bowling&rdquo;; as a fraction of the 200,000 who mention &ldquo;Bieber&rdquo;, that's 5.3%, or 53,000 µBb.


-# - if Main.development?
-#   != partial :dump
