%h1 Which more popular is? Twitter judging! Fight!

.section
  - form_tag '/', :method => :get do
    %fieldset
      %legend Tweeple Fight
      - labeled_field @fight, :topic_a
      - labeled_field @fight, :topic_b

      .buttons
        - submit_button 'Fight!', :class => 'positive'

%hr/

.results
  - if @fight && @fight.number_hits.present?
    .total.total_a
      %span.res_color= @fight.topic_a
    .total.total_b
      %span.res_color= @fight.topic_b
    
    .total.total_a
      %span.res_color= @fight.number_hits[0]
      hits
    .total.total_b
      %span.res_color= @fight.number_hits[1]
      hits

    .total.total_a
      %span.res_color= @fight.micro_biebers[0].round(0)
      µBb
    .total.total_b
      %span.res_color= @fight.micro_biebers[1].round(0)
      µBb

    .total.total_a
      %span.res_color= @fight.bieberosity[0].round(1)
      dBb
    .total.total_b
      %span.res_color= @fight.bieberosity[1].round(1)
      dBb

    .total.total_a.bieber_meter
      .meter{ :style => "width:#{ 400 * [@fight.bieberosity[0]/100, 0].max }px" }
        %img{ :src => '/images/bieber-440.png', :alt => "#{@fight.bieberosity[0].round(1)} bieberosity", :title => "#{@fight.bieberosity[0].round(1)} bieberosity" }
    .total.total_b.bieber_meter
      .meter{ :style => "width:#{ 400 * [@fight.bieberosity[1]/100, 0].max }px" }
        %img{ :src => '/images/bieber-440.png', :alt => "#{@fight.bieberosity[1].round(1)} bieberosity", :title => "#{@fight.bieberosity[1].round(1)} bieberosity" }

-# != partial :dump
